// variable
$primary-color: #ee4622;
//
.box-landing {
    width: 100%;
    height: 100vh;
    position: relative;
    // z-index: 10;
    overflow-y: hidden;
    background-color: white;
    .vektor1 {
        position: absolute;
        z-index: 0;
        right: 0;
        width: 85vh;
        float: right;
        img {
            width: 100%;
            height: 100%;
        }
    }
    header {
        position: relative;
        width: 80%;
        margin: auto;
        margin-top: 2vh;
        display: flex;
        align-items: center;
        img {
            width: 50px;
            height: 50px;
            margin-right: 10px;
        }
        h1 {
            font-family: "Times New Roman";
            font-style: italic;
            font-size: 36px;
            line-break: 41.4px;
            font-weight: 700;
        }
    }
    .cover {
        transform: translateY(10vh);
        width: 80%;
        height: 60vh;
        margin: auto;
        // background: salmon;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        position: relative;
        h1 {
            font-family: "Times New Roman";
            font-size: 90px;
            line-height: 94.86px;
            width: 60%;
            font-weight: 600;
        }
        p {
            margin-top: 10vh;
            margin-bottom: 3vh;
            width: 50%;
            font-weight: 400;
            font-size: 20px;
            line-height: 32.78px;
            width: 40%;
        }
        .sign {
            .box-input {
                input {
                    width: 100%;
                }
            }
            button {
                font-size: 18px;
                line-height: 24.59px;
                padding: 10px 50px;
                background-color: rgb(231, 231, 231);
                border-radius: 5px;
                border: none;
                margin-right: 50px;
                cursor: pointer;
                align-self: flex-start;
            }
            .active {
                align-self: flex-start;
                background-color: $primary-color !important;
            }
        }
    }
}

@media screen and (max-width: 800px) {
    .cover {
        h1 {
            width: 100%;
            font-size: 90px;
        }
    }
}

@media screen and (max-width: 680px) {
    header {
        h1 {
            text-shadow: 0 0 10px black;
            color: white;
        }
    }
    .cover {
        h1 {
            font-size: 70px;
            text-shadow: 0 0 10px black;
            color: white;
        }
        p {
            color: white;
            width: 80%;
            text-shadow: 0 0 10px black;
        }
        button {
            margin-top: 10px;
        }
    }
}

@media screen and (max-width: 530px) {
    .cover {
        height: 40vh;
        justify-content: flex-start;
        h1 {
            font-size: 60px;
        }
        p {
            font-size: 20px;
            margin-top: 5vh;
        }
    }
}