.box-library {
    width: 80%;
    min-height: 100vh;
    margin: auto;
    align-self: flex-start;
    // background: salmon;
    .list-book {
        margin-left: 23.8%;
        margin-top: 4.8vh;
        // background: lightblue;
        h1 {
            font-size: 27px;
            margin-left: 2vh;
            margin-bottom: 1.3vh;
            font-weight: 700;
        }
        ul {
            // background: lightgreen;
            list-style: none;
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
            margin: 0;
            padding: 0;
            li {
                width: 25%;
            }
            div {
                width: 25vh;
                min-height: 48vh;
                position: relative;
                transition: 0.2s;
                margin-bottom: 5vh;
                margin: 2vh 2vh;
                background: rgb(247, 247, 247);
                img {
                    width: 100%;
                }
                h5,
                p {
                    padding: 0 5px;
                }
                h5 {
                    font-size: 15px;
                    margin: 5px 0;
                    font-weight: 700;
                }
                p {
                    display: inline-block;
                    position: absolute;
                    bottom: -2.5vh;
                    font-size: 14px;
                }
            }
            div:hover {
                opacity: 0.6;
                cursor: pointer;
            }
        }
    }
}