.box-AdmBook {
    background: rgb(255, 255, 255);
    width: 100%;
    min-height: 100vh;
    position: relative;
    z-index: 12;
    .box-input {
        background: rgb(255, 255, 255);
        position: relative;
        margin: auto;
        width: 70%;
        input.status {
            display: none;
        }
        h1 {
            font-size: 27px;
            margin-bottom: 2.3vh;
            font-weight: 700;
            align-self: flex-start;
            display: inline-block;
        }
        form {
            margin-top: 2vh;
            background: rgb(255, 255, 255);
            display: flex;
            justify-content: space-around;
            flex-direction: column;
            height: 85vh;
            overflow: auto;
            input,
            textarea,
            select {
                height: 6vh;
                padding: 0 15px;
                box-sizing: border-box;
                border: 2.5px solid rgb(192, 192, 192);
                border-radius: 5px;
            }
            textarea {
                max-height: 18vh;
                min-height: 18vh;
                padding-top: 10px;
                max-width: 100%;
            }
            select {
                width: 100%;
            }
        }
        input.attach {
            align-self: flex-start;
            width: 250px;
            border: none;
            padding: 0;
        }
        .add-btn {
            transform: translateY(-7vh);
            padding: 8px 15px;
            color: white;
            background: #ee4622;
            border: none;
            border-radius: 5px;
            align-self: flex-end;
        }
    }
}